<% layout('layout') %>
<% title = 'Votes List' %>

<div class="container mt-5">
  <h1 class="text-center mb-4"><%= title %></h1>

  <ul class="list-group">
    <% votes.forEach(vote => { %>
      <li class="list-group-item">
        <strong>Nominee:</strong> <%= vote.nominee ? vote.nominee.name : 'N/A' %> |
        <strong>Voter:</strong> <%= vote.voter_name %> (<%= vote.voter_email %>, <%= vote.voter_phone %>) |
        <strong>Votes:</strong> <%= vote.number_of_votes %> |
        <strong>Amount:</strong> <%= vote.payment_amount %> KES |
        <strong>Status:</strong> <%= vote.payment_status %>
      </li>
    <% }) %>
  </ul>
</div>